*.pyc
lib/__pycache__/*
logs/*.log
start_local.sh
start_ollama_local.sh
*.log
resources/vectordb/*
!resources/vectordb/.gitkeep
resources/vectordb/code/*
!resources/vectordb/code/.gitkeep
resources/chat_mem/*
!resources/chat_mem/.gitkeep
resources/changelog_db/*
!resources/changelog_db/.gitkeep
resources/vectordb_resource/*
!resources/vectordb_resource/.gitkeep
resources/index_db/*
!resources/index_db/.gitkeep
nohup.out
stats.sh
stats.py
ai_assistant/*
query.sh
.DS_Store
